@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./header.css');

:root {
  --main-text-color: #0C0C0C;
  --prise-text-color: #3C3C3C;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16pt;
  background-color: #FEFDED;
}

/* Containers */
.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Global */
.title {
  text-align: center;
  font-size: 75px;
  text-transform: uppercase;
}

.subtitle {
  font-size: 40px;
  margin: 0 0 15px 35px;
  font-weight: bold;
  text-transform: uppercase;
}

.text {
  font-size: 30px;
}

.sections {
  width: 100%;
  margin-bottom: 120px;
}

.articles {
  width: 100%;
  margin-bottom: 20px;
}

.nav-elem {
  font-weight: 800;
  text-transform: uppercase;
}

.nav-elem a {
  color: var(--main-text-color);
}


/* Header */
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header {
  margin-bottom: 20px;
  background-color: #C6EBC5;
}

.section-logo {
  text-align: center;
  margin-left: 150px;
}

.section-logo-container {
  width: 200px;
}

.logo {
  text-align: center;
  margin: 0 auto;
}

.logo-img {
  width: 100%;
}

.header-navigation {
  text-transform: uppercase;
  display: flex;
  text-align: center;
}

.header-navigation li {
  padding: 0 20px;
}


/* Main slider */
.main-slider {
  position: relative;
  height: 740px;
  background: url('../images/slider_1.jpg') no-repeat;
  background-size: cover;
}

.slider-text {
  position: absolute;
  top: 20%;
  left: 100px;
  width: 35%;
  color: #FEFDED;
  font-size: 4em;
  font-weight: bold;
}

.main-slider-navigation {
  position: absolute;
  top: 48%;
  cursor: pointer;
  color: #fefded8c;
  font-size: 3em;
}

.r-sld-nav {
  right: 20px;
}

.l-sld-nav {
  left: 20px;
}


/* Shop preview at the main page */
.shop-preview {
  color: var(--main-text-color);
  margin-bottom: 80px;
}

.shop-preview-text {
  margin: 15px 0 90px;
  text-align: center;
}

.items-shop, .blog-slider {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 29px;
}

.preview-shop-item {
  position: relative;
  padding: 10px;
}

.shop-item {
  margin-bottom: 50px;
}

.favourite-item-mark {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--main-text-color);
}

.favourite-active {
  color: #FFBF00;
}

.item-image {
  width: 300px;
  height: 300px;
}

.item-image * img {
  width: 100%;
}

.item-title {
  font-weight: 500;
  text-transform: uppercase;
  font-weight: bold;
  text-wrap: balance;
  margin: 5px 0 7px;
}

.item-prise {
  color: var(--prise-text-color);
}

.items-shop-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #121214;
}

.items-shop-nav-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 10%;
  /* margin: 0 25px; */
}

.slider-nav-page {
  margin: 0 25px;
  border-radius: 250px;
  min-width: 8px;
  min-height: 8px;
  background-color: #8f8f8f;
  transition: .1s linear;
}

.slider-nav-page:hover {
  min-width: 11px;
  min-height: 11px;
  background-color: #FA7070
}

.slider-nav-page-active {
  min-width: 11px;
  min-height: 11px;
  background-color: #121214
}

.slider-nav-page-active:hover {
  background-color: #121214
}

/* Blog. Homepage */
.blog-slider {
  margin-bottom: 40px;
}

.blog-image {
  width: 100%;
}

.blog-image a img {
  width: 100%;
}

.blog-item {
  width: calc(400px);
  margin-bottom: 40px;
}

.blog-title {
  font-size: 23px;
  font-weight: bold;
  margin: 13px 0;
}

.blog-info {
  text-wrap: pretty;
  font-size: 15px;
}

.blog-more {
  position: relative;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 13px;
}

.blog-more::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15%;
  height: 5px;
  z-index: -1;
  background-color: #FA7070;
}


/* Footer */
.footer {
  background-color: #A1C398;
  padding: 15px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-section {
  width: 25%;
}

.footer-section-logo {
  margin: 0 auto;
  /* margin-left: 150px; */
  width: 200px;
}

.footer-logo {
  width: 100%;
}

.footer-navigation .nav-elem{
  margin: 15px 0;
}

.copywrite {
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
}


/* Shop page */
.shop-title, .contacts-title {
  font-weight: bold;
  margin: 30px 0 40px;
}


/* Contacts page */
.contacts-info {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 150px;
}

.contacts-subtitle {
  font-size: 30px;
  margin: 10px 0;
  font-weight: 600;
}

.contacts-list {
  margin: 25px 0;
}

.list-elem {
  display: flex;
  margin: 30px 0;
}

.list-elem i {
  padding: 0 20px 0 0;
}

.contacts-article-map iframe {
  width: 100%;
  height: 450px;
}

@media (max-width: 1024px) {
  .subtitle {
    text-align: center;
    margin: 80px 0 30px;
  }

  .items-shop {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 29px;
  }
  
  .preview-shop-item {
    margin: 0 50px;
  }

  .item-title {
    font-size: 19px;
  }
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 0;
  }

  .header-navigation {
    margin: 20px 0;
  }

  .header-container {
    flex-direction: column;
    justify-content: space-between;
  }

  .section-logo {
    margin-left: 0;
  }

  .preview-shop-item {
    margin: 0 15px;
  }

  .blog-slider {
    justify-content: center;
  }

  .contacts-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 50px 150px;
  }
}


@media (max-width: 425px) {
  .title {
    font-size: 55px;
  }

  .subtitle {
    font-size: 20px;
    margin: 0 0 15px 35px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .text {
    font-size: 20px;
  }

  .main-slider {
    position: relative;
    height: 300px;
    background: url('../images/slider_1.jpg') no-repeat center;
    background-size: cover;
  }

  .slider-text {
    position: absolute;
    top: auto;
    bottom: 10%;
    left: 80px;
    width: 35%;
    color: #FEFDED;
    font-size: 1.3em;
    font-weight: bold;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .footer-section-navigation {
    width: 50%;
  }

  .contacts-article-map iframe {
    width: 100%;
  }

  .contacts-info {
    margin: 0 30px 150px;
  }
  
}