@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./header.css');
@import url('./footer.css');
@import url('./media.css');

:root {
  --main-text-color: #0C0C0C;
  --prise-text-color: #3C3C3C;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16pt;
  background-color: #FEFDED;
}

/* Containers */
.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Global */
.title {
  text-align: center;
  font-size: 75px;
  text-transform: uppercase;
}

.subtitle {
  font-size: 40px;
  margin: 0 0 15px 35px;
  font-weight: bold;
  text-transform: uppercase;
}

.text {
  font-size: 30px;
}

.sections {
  width: 100%;
  margin-bottom: 120px;
}

.articles {
  width: 100%;
  margin-bottom: 20px;
}

.nav-elem {
  position: relative;
  font-weight: 800;
  text-transform: uppercase;
}

.nav-elem a {
  position: relative;
  color: var(--main-text-color);
  transition: .2s ease
}

.nav-elem a:hover {
  color: #FA7070;
}


/* Main slider */
.main-slider {
  position: relative;
  height: 740px;
  background: url('../images/slider_1.jpg') no-repeat;
  background-size: cover;
}

.slider-text {
  position: absolute;
  top: 20%;
  left: 100px;
  width: 35%;
  color: #FEFDED;
  font-size: 4em;
  font-weight: bold;
}

.main-slider-navigation {
  position: absolute;
  top: 48%;
  cursor: pointer;
  color: #fefded8c;
  font-size: 3em;
}

.r-sld-nav {
  right: 20px;
}

.l-sld-nav {
  left: 20px;
}


/* Shop preview at the main page */
.shop-preview {
  color: var(--main-text-color);
  margin-bottom: 80px;
}

.shop-preview-text {
  margin: 15px 0 90px;
  text-align: center;
}

.items-shop, .blog-slider {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 29px;
}

.preview-shop-item {
  position: relative;
  padding: 10px;
}

.shop-item {
  margin-bottom: 50px;
}

.favourite-item-mark {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--main-text-color);
}

.favourite-active {
  color: #FFBF00;
}

.item-image {
  width: 300px;
  height: 300px;
  transition: .1s linear;
}

.item-image:hover {
  border: 3px solid #FA7070;
}

.item-image * img {
  width: 100%;
}

.item-title {
  font-weight: 500;
  text-transform: uppercase;
  font-weight: bold;
  text-wrap: balance;
  margin: 5px 0 7px;
}

.item-prise {
  color: var(--prise-text-color);
}

.items-shop-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #121214;
}

.items-shop-nav-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 10%;
  /* margin: 0 25px; */
}

.slider-nav-page {
  margin: 0 25px;
  border-radius: 250px;
  min-width: 8px;
  min-height: 8px;
  background-color: #8f8f8f;
  transition: .1s linear;
}

.slider-nav-page:hover {
  min-width: 11px;
  min-height: 11px;
  background-color: #FA7070
}

.slider-nav-page-active {
  min-width: 11px;
  min-height: 11px;
  background-color: #121214
}

.slider-nav-page-active:hover {
  background-color: #121214
}

/* Blog. Homepage */
.blog-slider {
  margin-bottom: 40px;
}

.blog-image {
  width: 100%;
}

.blog-image a img {
  width: 100%;
}

.blog-item {
  width: calc(400px);
  margin-bottom: 40px;
}

.blog-title {
  font-size: 23px;
  font-weight: bold;
  margin: 13px 0;
}

.blog-info {
  text-wrap: pretty;
  font-size: 15px;
}

.blog-more {
  position: relative;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 13px;
  cursor: pointer;
}

.blog-more::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15%;
  height: 5px;
  z-index: -1;
  background-color: #FA7070;
  transition: .2s ease;
}

.blog-more:hover::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 5px;
  z-index: -1;
  background-color: #FA7070;
}

/* Shop page */
.shop-title, .contacts-title {
  font-weight: bold;
  margin: 30px 0 40px;
}


/* Contacts page */
.contacts-info {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 150px;
}

.contacts-subtitle {
  font-size: 30px;
  margin: 10px 0;
  font-weight: 600;
}

.contacts-list {
  margin: 25px 0;
}

.list-elem {
  display: flex;
  margin: 30px 0;
}

.list-elem i {
  padding: 0 20px 0 0;
}

.contacts-article-map iframe {
  width: 100%;
  height: 450px;
}


/* Items */
.show-container {
  margin: 50px 30px;
  display: flex;
  /* justify-content: space-between; */
}

.show-info-container {
  margin: 0 30px;
}

.show-image {
  width: 50%;
}

.show-image img {
  border: 2px solid #000;
}

.show-image img {
  width: 100%;
}

.show-to-cart {
  padding: 0 100px;
}

.show-to-cart .title {
  text-align: left;
  margin: 0 0 50px;
}

.show-to-cart .item-price {
  font-size: 35px;
  margin: 0 0 10px;
}

.button-buy {
  font-size: 27px;
  text-transform: uppercase;
  background-color: #A1C398;
  color: #ffffff;
  font-weight: bold;
  border: none;
  padding: 20px 40px;
  border-radius: 10px;
  transition: .3s ease-out;
}

.button-buy:hover {
  border-radius: 100px;
  background-color: #FA7070;
}

/* .item-list-detail {} */